<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@2"></script>
</head>
<body>
    <div id="app">
        <div>
            <button v-on:click="idSort">학번순정렬</button>
            <button v-on:click="nameSort">이름순정렬</button>
            <button v-on:click="scoreSort">성적순정렬</button>
        </div>
        <!--select 버튼-->
        <select v-model="Myradio">
            <option>::선택::</option>
            <option value="id">학번순</option>
            <option value="name">이름순</option>
            <option value="score">성적순</option>
        </select>

        <!-- radio 버튼. -->
        <div>
            <label for="">
                <input type="radio" value="id" v-model="Myradio">학번순
            </label>
            <label for="">
                <input type="radio" value="name" v-model="Myradio">이름순
            </label>
            <label for="">
                <input type="radio" value="score" v-model="Myradio">성적순
            </label>
        </div>
        <ul>
            <li v-for="stu in sort">{{stu}}</li>
        </ul>
    </div>

    <script>
        let members = [
            {id: 99, name:"Hong", score:70},
            {id: 103, name:"Park", score:95},
            {id: 102, name:"Kim", score:80},
            {id: 100, name:"Choi", score:60},
        ]
        let app = new Vue({
            el: '#app',
            data: {
                Myradio: ''
            },
            computed: {
                sort(){
                    let so = this.Myradio;
                    return members.sort(function(first, last){
                        if(first[so]<last[so]){
                            return -1;
                        } else return 1;
                     })
                 },
            },
            methods:{
                idSort() {
                    this.Myradio = 'id';
                },
                nameSort() {
                    this.Myradio = 'name';
                },
                scoreSort() {
                    this.Myradio = 'score';
                }
            }

        })
    </script>
    
</body>
</html>