<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vue.js 애완용품샵</title>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/vue@2"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/app.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>
    <!--axios아작스 편리하게 호출-->
</head>
<body>
    <div id="app">
        <header>
            <div class="navbar navbar-default">
              <div class="navbar-header">
                <h1>{{ sitename }}</h1>
              </div>
              <div class="nav navbar-nav navbar-right cart">
                <button type="button" class="btn btn-default btn-lg" v-on:click="showCheckout">
                  <span class="glyphicon glyphicon-shopping-cart">{{cartItemCount}}</span> 체크아웃
                </button>
              </div>
            </div>
          </header>

        <main>
            <div v-if="showProduct">
                <div v-for="product in sortedProducts">
                  <div class="row">
                    <div class="col-md-5 col-md-offset-0">
                      <figure>
                          <img class="product" v-bind:src="product.image">
                      </figure>
                    </div>
                    <div class="col-md-6 col-md-offset-0 description">
                        <h1 v-text="product.title"></h1>
                        <p v-html="product.description"></p>
                        <p>{{product.price | formatPrice}}</p>
                        <button class="btn btn-primary btn-lg" v-on:click="addToCart(product)" v-if="canAddToCart(product)">장바구니 담기</button>
                        <button class="btn btn-primary btn-lg" disabled="true" v-else>장바구니 담기</button>
                        <span class="inventory-message" v-if="product.availableInventory - cartCount(product.id) == 0">품절</span>
                        <span class="inventory-message" v-else-if="product.availableInventory - cartCount(product.id) < 5">
                          {{product.availableInventory - cartCount(product.id)}} 개 남았습니다.
                        </span>
                        <span class="inventory-message" v-else>지금 구매하세요.</span>
                        <div class="rating">
                            <span v-bind:class="{'rating-active': checkRating(n, product)}" v-for="n in 5">☆</span>
                        </div>
                    </div>
                </div>
             </div>
          </div>
             <div v-else>
                <div class="col-md-10 col-md-offset-1">
                  <div class="panel panel-info">
                    <div class="panel-heading">애완용품샵 체크아웃</div>
                    <div class="panel-body">
                      <div class="form-group">
                        <div class="col-md-12">
                          <h4><strong>정보를 입력하세요</strong></h4>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-6">
                          <strong>이름:</strong>
                          <input v-model.trim="order.firstName" class="form-control">
                        </div>
                        <div class="col-md-6">
                          <strong>성:</strong>
                          <input v-model.trim="order.lastName" class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-12"><strong>주소:</strong></div>
                        <div class="col-md-12">
                          <input v-model.trim="order.address" class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-12"><strong>도시:</strong></div>
                        <div class="col-md-12">
                          <input v-model.trim="order.city" class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-2">
                          <strong>주:</strong>
                          <select v-model="order.state" class="form-control">
                              <option value="" disabled>주</option>
                              <option v-for="(state, key) in states" v-bind:value="state">{{key}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-6 col-md-offset-4">
                          <strong>우편번호:</strong>
                          <input v-model.number="order.zip" class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-6 boxes">
                          <input type="checkbox" value="true"
                              v-bind:false-value="order.dontSendGift"
                              v-bind:true-value="order.sendGift"
                              v-model="order.gift">
                          <label for="checkbox">선물로 보내기?</label>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-6 boxes">
                          <input type="radio" v-bind:value="order.home" v-model="order.method">
                          <label for="home">자택</label>
                          <input type="radio" v-bind:value="order.business" v-model="order.method">
                          <label for="business">직장</label>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary submit" v-on:click="submitForm">주문하기</button>
                        </div>
                      </div>
                      <div class="col-md-12 verify">
                        <pre>
                          이름: {{order.firstName}}
                          성: {{order.lastName}}
                          주소: {{order.address}}
                          도시: {{order.city}}
                          우편번호: {{order.zip}}
                          주: {{order.state}}
                          배송지: {{order.method}}
                          선물: {{order.gift}}
                        </pre> 
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </main>
    </div>
    <script>

        var APP_LOG_LIFECYCLE_EVENTS = false;

        var webstore = new Vue({
            el: "#app",
            data: {
                sitename: "Vue.js 애완용품샵",
                showProduct: true,
                isOK: true,
                states: {
                   AL:'알라바마',
                  AK:'알래스카',
                  AR:'애리조나',
                  CA:'캘리포니아',
                  NV:'네바다',
                },
                order: {
                  firstName: '',
                  lastName: '',
                  address: '',
                  city: '',
                  zip: '',
                  state: '',
                  method: '자택 주소',
                  business: '직장 주소',
                  home: '자택 주소',
                  gift: '선물로보내기',
                  sendGift: '선물로보내기',
                  dontSendGift: '선물로 보내지 않기'
                },
                // product: {
                //     id: 1001,
                //     title: "고양이 사료, 25파운드",
                //     description: "당신의 고양이를 위한 <em>거부할 수 없는 </em>, 유기농 25파운드 사료입니다.",
                //     price: 200000000000,
                //     image: 'assets/images/product-fullsize.png',
                //     availableInventory: 10,
                //     rating: 4
                // },
                products: [],
                cart: []
            },
            methods: {
                addToCart(aProduct) {
                    this.cart.push(aProduct.id)
                },
                showCheckout() {
                    this.showProduct = this.showProduct ? false : true;
                },
                submitForm() {
                  alert('제출 완료');
                },
                cartCount(id) {
                  let count = 0;
                  // 장바구니에 상품별로 담긴 갯수를 반환.
                  for(let i=0; i<this.cart.length; i++) {
                    if(this.cart[i] == id){
                        count++;
                    }
                  }
                  return count;
                },
                checkRating(n, aProduct) {
                   return aProduct.rating - n >= 0;
                },
                canAddToCart(aProduct) { //computed에서 메소드로 옮김
                    return aProduct.availableInventory > this.cartCount(aProduct.id);
                }
            },
            computed: {//속성이라 매개를 받을 수 없음
                cartItemCount() {
                    return this.cart.length;
                },
                sortedProducts() {
                  if(this.products.length > 0) {
                    let productAry = this.products.slice(0);
                    //가격순 정렬
                   return productAry.sort(function(first, last){
                      if(first.price < last.price){
                        return -1; //오름차순
                      } else return 1;
                    });
                  }
                }
            },
            filters: {
                 
                    formatPrice: function(price) {
                        // 1000,000 00 => 1,000,000.000

                        if(price>999999){
                            var priceStr = (price/100).toFixed(2);
                            var priceAry = priceStr.split('').reverse();
                           // console.log(priceAry)
                            var index = 3;
                            while(priceAry.length > index + 3) {
                               // console.log(priceAry)
                                priceAry.splice(index+3, 0 ,','); //6번위치부터 ,필요
                                index += 4;//위에서 추가가 됐기때문에 콤마까지 자리수 더함
                            }
                            return "$" + priceAry.reverse().join(''); //배열을 문자열로 다시 바꿈
                        } else {
                            return "$" +(price/100).toFixed(2)
                        }
                    }
            },
            beforeCreate: function() {
                if (APP_LOG_LIFECYCLE_EVENTS) {
                console.log("beforeCreate");
                }
            },
            created: function() {
                if (APP_LOG_LIFECYCLE_EVENTS) {
                console.log("created");
                }
                // product.json => 상품으로 등록.
                axios.get('./products.json')
                .then(response => {
                  console.log(response.data.products);
                  this.products = response.data.products;
                })
                .catch(err => console.log(err))
            },
            beforeMount: function() {
                if (APP_LOG_LIFECYCLE_EVENTS) {
                console.log("beforeMount");
                }
            },
            mounted:  function() {
                if (APP_LOG_LIFECYCLE_EVENTS) {
                console.log("mounted");
                }
            },
            beforeUpdate:  function() {
                if (APP_LOG_LIFECYCLE_EVENTS) {
                console.log("beforeUpdate");
                }
            },
            updated:  function() {
                if (APP_LOG_LIFECYCLE_EVENTS) {
                console.log("updated");
                }
            },
            beforeDestroy:  function() {
                if (APP_LOG_LIFECYCLE_EVENTS) {
                console.log("beforeDestroy ");
                }
            },
            destroyed:  function() {
                if (APP_LOG_LIFECYCLE_EVENTS) {
                console.log("destroyed");
                }
            }
        });
    </script>
</body>
</html>