<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dan</title>
    <script src="https://unpkg.com/vue@2"></script>
    <style>
    .rating-active:before {
        content: "\2605";
        position: absolute;
    }
    .rating {
        display: inline;
        margin-left: 10px;
        margin-top: 10px;
        float:right;
    }
    .rating > span {
        display: inline-block;
        position: relative;
        width: 1.1em;
    }
    </style>
</head>
<body>
    <div class="rating">
        <span class="rating-active">☆</span>
        <span>☆</span>
    </div>
    <div id="app">
        <input v-model.number="dan" v-on:input="del()">
        <button v-on:click="mul()">출력</button>
        <ul>
            <li v-if="show" v-for="num in 9">{{dan}} X {{num}} = {{dan*num}}</li>
        </ul>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                dan: 0,
                show: false,
            },
            methods: {
                mul() {
                    if(this.dan==0){
                        alert('0X');
                        return;
                    }
                    this.show = true;
                },
                del() {
                    this.show = false;
                }
            }
        })
    </script>
</body>
</html>