<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dan</title>
    <script src="https://unpkg.com/vue@2"></script>
</head>
<body>
    <div id="app">
        <input v-model.number="dan" v-on:input="del()">
        <button v-on:click="mul()">출력</button>
        <ul>
            <li v-if="show" v-for="num in 9">{{dan}} X {{num}} = {{dan*num}}</li>
        </ul>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                dan: 0,
                show: false,
            },
            methods: {
                mul() {
                    if(this.dan==0){
                        alert('0X');
                        return;
                    }
                    this.show = true;
                },
                del() {
                    this.show = false;
                }
            }
        })
    </script>
</body>
</html>